/example-theses
/review
*.RData
/sfu-thesis-templates
/copyright-chapters
/info-forms
master.pdf
intro.pdf
discussion.pdf
figures.pdf
/abstract-only/abstract-only.pdf
/0_frontmatter/abstract.pdf
*.key
*.docx
*/figures
/examiner-lit
/defense-booklet/defense-booklet.pdf
